.event-board-container {
  /*width: 90%;*/
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  margin: 40px;
}

.scrollable-list {
  height: 100%;
  display: flex;
  flex: 1;
  /*max-height: 310px;*/
  overflow: hidden;
  /*overflow-x: auto;*/
  background-color: yellow;
}

.events-list-container {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.sort-block {
  text-align: left;
  margin-left: 10px;
}