.screen-container {
  width: 100%;
  height: 500px;
  /*width: 90%;*/
}

.search-block {
  margin-left: 10px;
}

.participant {
  flex: 1;
  border: 1px solid black;
  font-size: 12px;
  padding: 10px;
  margin: 10px;
}

.participant p {
  margin: 0;
}

.row {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.participants-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}