.container {
  width: 90%;
}

.participant {
  flex: 1;
  border: 1px solid black;
  font-size: 12px;
  padding: 10px;
  margin: 10px;
}

.participant p {
  margin: 0;
}

.row {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.participants-container {
  display: flex;
  flex-direction: row;
}